[Unit]
Description=Monitor DRM events and auto-switch autorandr profiles
Documentation=https://github.com/phillipberndt/autorandr

[Service]
Type=simple
ExecStart=/home/master/.local/bin/autorandr_monitor.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
